body {
  margin: 0;
  font-family: Menlo, monospace;
  background-color: #3e3e3e;
  color: white;
}
#chart-container {
  position: relative;
  width: 95%;
  max-width: 1200px;
  height: 60vh;
  margin: 2rem auto;
  background-color: #3e3e3e;
  padding: 1rem;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
canvas {
  width: 100% !important;
  height: 100% !important;
  background-color: #3e3e3e;
}
.container {
  padding: 20px;
}
canvas {
  background-color: #3e3e3e;
}
.accordion-toggle {
  background-color: #555;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
}
.accordion-content {
  display: none;
  background-color: #666;
  padding: 10px;
}
.accordion-toggle.active + .accordion-content {
  display: block;
}
