body {
  margin: 0;
  font-family: Menlo, monospace;
  background-color: #3e3e3e;
  color: white;
}

.container {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

canvas {
  display: block;
  background-color: #3e3e3e;
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 2 / 1; /* адаптивная пропорция */
}

.accordion-toggle {
  background-color: #555;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  font-family: Menlo, monospace;
  font-size: 16px;
}

.accordion-content {
  display: none;
  background-color: #666;
  padding: 10px;
  font-family: Menlo, monospace;
}

.accordion-toggle.active + .accordion-content {
  display: block;
}
