body {
  margin: 0;
  font-family: Menlo, monospace;
  background-color: #3e3e3e;
  color: white;
}

.container {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

canvas {
  display: block;
  background-color: #3e3e3e;
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 2 / 1; /* адаптивная пропорция */
}

.accordion {
  margin-top: 20px;
}

.accordion-toggle {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 16px;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: #333;
  color: #fff;
  padding: 0 15px;
}

.accordion-content.open {
  max-height: 200px;
  padding: 10px 15px;
}
